.App {
  text-align: center;
}
.primary-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600; 
  font-size: 21.6px;
  text-align: left;
  letter-spacing: -0.32px;
  line-height: 24px;
  fill: rgba(0, 0, 0, 0.84);
}

.secondary-text {
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: 20px;
  color: rgba(0,0,0,0.54);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.secondary-text-bold {
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: 20px;
  color: rgba(0,0,0,0.84);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
  text-align: left;
  margin: 0 70px;
  padding: 20px 0;
  border-bottom-style: solid;
  border-bottom-color:#ededed;
}

.article-image {
  height: 300px;
  width: 300px;
}


.missed-article-image {
  height: 200px;
  width: 400px;
}

.personal-article-card {
  display: flex;
  flex: 1 0 40%;
  margin: 10px; 
  border-style: solid;
  border-color: #ededed;
  border-width: 1px;
}

.card-display {
  margin: 10px; 
  border-style: solid;
  border-color: #ededed;
  border-width: 1px;
}

.personal-article-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 70px;
}

.article-info-container {
  flex-grow: 2;
}

 .display {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
} 

.author-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#auth-details {
  display: flex;
}

.auth-data {
  padding-bottom: 5px;
  text-align: left;
}

.auth-data-container {
  padding: 15px 0 0 10px;
}

#article-time {
  font-weight:lighter;
}

#auth-img {
  border-radius: 50%;
}

.bookmark {
  height: 25px;
  padding-top: 15px;
}

.article-descr {
  flex-grow: 2;
}

.article-info-descr {
  padding: 15px 0;
  text-align: left;
}

.missed-container {
  display: flex;
  padding: 20px 70px;
}

.missed-card {
  flex-grow: 1 0 20%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
